.block-list{
        min-width:800px;
        flex-grow:1;
        h3{
                margin:0;
                margin-bottom:10px;
                background-color: #4A4A4A;
                height:24px;
                text-align:left;
                padding:9px 0 7px 10px;
                color:white;
                font-weight:@fw-normal;
        }
}

.table {
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;
        font-size: 1rem;
        margin: 0.5rem;
        line-height: 1.5;

        &-header {
                display: none;
        }

        .row {
                display:flex;
                width: 100%;
                min-height:80px;
                background:white;
                margin-top:5px;
                &:nth-child(2n){
                        background:#fafafa;
                }
                &:hover{
                        background: rgba(186,186,186,0.5)
                }
                .item {
                        &.grow{
                               min-width:40%;
                        }
                        &.fixed{
                                max-width:10%;
                        }
                        display: flex;
                        flex-flow: column nowrap;
                        flex-basis:0;
                        flex-grow: 1;
                        padding: 1em;
                        word-break: break-word;
                        font-weight:@fw-bold;
                        .hash{font-size:16px;display:flex;align-items:center;}
                        .vert{font-size:12px;margin:0 1px;}
                        &:before {
                                color:#535353;
                                content: attr(data-header);
                                width: 30%;
                                font-weight: @fw-normal;
                                word-break:normal;
                        }
                }
        }
}


.app{
        display:flex;
}

